*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}

.row::after{
    clear:both;
    display: block;
    content: "";
    min-height: auto;
}

.col{
    float:left;
}

/*HEADER*/

header{
    height: auto;
    min-height: 45px;
    background: black;
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
}

header a{
    color: white;
    text-decoration: none;
    line-height: 40px;
    font-weight: 900;
}

header ul.col{
    float: right;
}

header ul.col > li{
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    padding: 3px 20px;
}

header ul:not(.col) {
    position: absolute;
    top: 0;
    left:0;
    display: none;
    padding-top:55px;
    text-transform: none;
}

header .submenu li{
    background: black;
}

header li:hover .submenu{
    display: block;
}

header a.menu{
    padding: 20px 20px;
    line-height: 28px;
    font-weight: 900;
}

.sign {
    height: 0;
    width: 0;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #000;
    margin-top: -21px;
    margin-left: 58px;
    background-color: transparent !important;
    padding: 0px !important;
}

.logo > div{
    height: 40px;
    width: auto;
    padding: 12px 2px;
    float: left;
}

.greenText{
    font-weight: 700;
    color: #33ccad;
}

/*SECTIONS*/

/*SECTION 1 WITH BLCAK CHAIR*/

section {
  height: 500px;
  max-height: auto;
  margin-top: 120px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f0f0f0 47%, #c7c7c7 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(47%, #f0f0f0), color-stop(100%, #c7c7c7));
  background: -webkit-linear-gradient(top, white 0%, #f0f0f0 47%, #c7c7c7 100%);
  background: -o-linear-gradient(top, white 0%, #f0f0f0 47%, #c7c7c7 100%);
  background: -ms-linear-gradient(top, white 0%, #f0f0f0 47%, #c7c7c7 100%);
  background: linear-gradient(to bottom, white 0%, #f0f0f0 47%, #c7c7c7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c7c7c7', GradientType=0 );
}

 .arrow{
  color: #33ccad;
  font-size: 70px;
  font-weight: 300;
  cursor: pointer;
  padding-top: 150px;
}

.right {
  padding-left: 50px;
}

.left{
  padding-right: 50px;
}

div.chair{
  background: url("../images/black_chair.png") no-repeat center top/cover;
  width: 40%;
  height: 500px;
}

.textNextToChair{
   width: 40%;
   min-height: auto;
   font-size: 16px;
   font-weight: 400;
   text-align: center;
   padding: 40px 30px;
}

.chair img{
  height: 500px;
  width: auto;
  margin-right: 200px;
}

.textNextToChair h1{
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 30px;
  padding-top: 45px;
}

span.greenText {
   padding: 10px;
}

.textNextToChair p{
  font-weight: 300;
  line-height: 27px;
  padding-bottom: 35px;
  padding: 0 18px 35px 18px;
}

button{
  height: 45px;
  width: 250px;
  border-radius: 10px;
  background-color: #33ccad;
  font-weight: 600;
  color: white;
  font-size: 19px;
  border: none;
}

/*SEKTION 2 PICTURES*/
.pictures{
  background-color: white;
  width: 100%;
  height: 300px;
  margin: 40px 0 50px 0;
}

main.section2{
  height: 300px;
  font-size: 14px;
}

div.chairClair{
   background: url("../images/box1_img.jpg") no-repeat center top/cover;
   height: 250px;
   width: 30%;
   min-width: auto;
   position: relative;
}



div.chairMargarita{
    background: url("../images/box2_img.jpg") no-repeat center top/cover;
    width: 32%;
    min-width: auto;
    height: 250px;
    margin: 0 35px;
    position: relative;
}

 h2.images{
   padding-top: 8px;
   font-size: 23px;
}

div.findAllInputs{
    width: 32%;
    min-width: auto;
    height: 300px;
    border: 1px solid #D6D6D6;
    float: right;
}

.findAllInputs h2{
    height: 50px;
    width: 100%;
    font-size: 23px;
    margin: 30px 0 25px 20px;
}

.findAllInputs p{
    padding: 0 30px;
    font-size: 16px;
    padding-bottom: 15px;
    color: gray;
}

.images{
  margin-top: 180px;
  padding-left: 15px
}

.after:after {
  width: 200px;
  height: 8px;
  content: "";
  display: block;
  background: #33ccad;
}

.transparent{
  background-color: rgba(224, 224, 209, 0.5);
  height: 60px;
}

/*SECTION3 CENNIK*/

article.list{
  background: #EDEDED
}

.plan{
  height: 700px;
}

.title{
  font-size: 20px;
  font-weight: 400;
  padding-top: 30px;
  margin-left: 30px;
}

.option{
 height:500px;
 width: 30%;
 color:  #33ccad;
 font-weight: 400;
 background-color: #f7f7f7;
 text-align: center;
 border: 3px solid #D6D6D6;
 padding: 40px 0 30px 0;
 position: relative;
 margin: 100px 20px;
 display: inline-block;
}

.circle{
  height: 65px;
  width: 65px;
  background: #b3b3b3;;
  border-radius: 50%;
  border: 15px solid white;
  box-shadow: 0 0 0 3px #D6D6D6;
  z-index: 2;
  position: absolute;
  left: 155px;
  top: -45px;
}

div.option .button2 button{
  height: 50px;
  width: 170px;
  margin-top: 30px;
  font-size: 14px;
  position: absolute;
  bottom: 40px;
  margin-left: -80px;
  font-size: 20px;
}

.greenFilling{
   background-color: #33ccad;
   border: 1px solid #33ccad;
}

.green{
    height: 70px;
    width: 70px;
    background-color: white;
    border: 16px solid #33ccad;
    box-shadow: none;
    left: 150px;
    top: -50px;
}

.greenFilling button{
  background: white;
  color: #33ccad;
  border: none;
}

.bigCircle{
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 2px solid  #b3b3b3;
  position: relative;
  left: 125px;
  top: 10px;
  background-color: white;
  color:  #b3b3b3;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.bigCircle.green{
  border: 2px solid #33ccad;
  left: 125px;
  top: 10px;
}

.price{
  padding-top: 20px;
}

div.option h2.greenLetters{
  color: #33ccad;
}

.option h2{
  font-weight: 400;
  font-size: 23px;
  text-transform: uppercase;
}

p.greenLetters{
  color: #33ccad
}

div.option h2.whiteLetters {
  color: white;
}

.bigNumber{
  font-size: 35px;
  font-weight: bolder;
}

.smallNumber{
  font-size: 15px;
  position: relative;
  bottom: 20px;
}

.pln {
  font-size: 13px;
  margin-top: 7px;
}

.table p{
  font-size: 21px;
  color:  #b3b3b3;
  padding: 9px 0;
  background-color: #e6e6e6;
}

.table p:nth-child(2n+2){
  background: #f2f2f2;
}

.table p:nth-child(2n){
  color: #808080;
}

.table p:first-child{
  border-top: 2px solid white;
}

.Green{
  border: 2px solid #33ccad;
}
.Green p{
  background-color: white;
}

.contact{
  width: 100%;
  height: 700px;
  max-height: auto;
}

.submition{
  width: 40%;
  float: right;
}

.redchair{
    min-width: 250px;
    min-height: 250px;
    background: url("../images/red_chair.png");
    background-position: center;
    background-repeat: no-repeat;
}

.contactForm{
  width:650px;
  min-width: auto;
  margin-right: 60px;

}

form{
  margin-top: 30px;
  margin-left: 40px;
  width: 100%;
  color: #f2f2f2
}

form input{
  padding: 10px 10px;
  width: 100%;
}

form textarea{
  display: block;
  width: 100%;
  height: 300px;
  resize: none;
  padding: 10px 10px;
}

.boxSeparator {
    margin: 20px 0;
}

.inputs{
  font-size: 23px;
  border: none;
  box-shadow: 0 0 0 1px #33ccad;
}
